body {
  padding-top: 40px;
}

label,
input,
button,
select {
  font-size: 12px;
  line-height: 16px;
}

.app-container {
  margin-right: 0;
  margin-left: 0;
}

#app-sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  right: 0;
  left: 0;
  z-index: 1000;
  margin-height: 0;
  margin-left: 0;
  margin-bottom: 0;
  box-shadow: 0px 0px 20px 3px #d3d3d3;
}

#app-overlay {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.7;
  filter: alpha(opacity=80);
}

#app-loading-overlay {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

#app-loading-overlay img {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;  /* half the image height */
  margin-left: -16px; /* half the image width. */
}

#app-diagram-container {
  position: fixed;
  top: 40px;
  height: 680px;
  overflow: auto;
  background-color: #2e3436; /* screen2 background color */
}

#app-diagram {
  position: fixed;
  top: 40px;
  height: 680px;
  overflow: auto;
  background-color: rgba(16,16,16, 0.25); /* screen2 map_background_color #10101040 */
  background-image: url('img/background-noisy.png'); /* screen2 background_image */
  background-repeat: repeat;
}

.app-canvas {
  border: 1px solid #d4d4d4;
}

.app-hidden {
  display: none;
}

.accordion-heading .accordion-toggle {
  padding: 4px 8px;
  margin: 0;
}

.app-sidebar-entry-selected {
  background-color: #ccc;
}

.table-striped tbody > tr:nth-child(even) > td,
.table-striped tbody > tr:nth-child(even) > th {
  background-color: #f0f0f0;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #ffffff;
}

.app-sidebar-accordion-group-body {
  margin: 0;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.app-sidebar-accordion-group-bottom {
  margin: 0 0 8px 0;
  border-top: 1px solid #e5e5e5;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.app-sidebar-accordion-group-body .accordion-inner {
  padding: 0;
}

.app-sidebar-accordion-group-body table {
  margin: 0;
}
.app-sidebar-accordion-group-body th {
  text-align: right;
  vertical-align: middle;
}

.app-sidebar-accordion-group-body td {
  text-align: left;
  vertical-align: middle;
}

.app-sidebar-accordion-group-body th,
.app-sidebar-accordion-group-body td
.app-sidebar-accordion-group-body td {
  font-size: 11px;
  line-height: 12px;
  font-weight: normal;
  padding: 0;
  border: 0;
}

.app-sidebar-accordion-group-body label,
.app-sidebar-accordion-group-body input {
  font-size: 11px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px 4px;
  white-space: nowrap;
}

.app-sidebar-accordion-group-body input {
  width: 90%;
}
.app-sidebar-accordion-group-body select {
  width: 100%;
}

.app-sidebar-header {
  padding: 8px 8px 8px 2px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  background-color: #f7f7f7;
  border-top: 2px solid #ebebeb;
  border-bottom: 2px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

.app-sidebar-header .btn-grup {
  float: right;
  padding-top: 1px;
  padding-right: 1px;
}

.app-sidebar-header .btn-mini {
  margin-top: -8px;
}

.accordion-heading .btn-group {
  float: right;
  padding-top: 1px;
  padding-right: 1px;
}

#app-sidebar-item-info label {
  margin-top: 0;
  margin-bottom: 0;
  padding: 2px 6px;
}

#app-sidebar-item-info input {
  margin-top: 0;
  margin-bottom: 0;
  width: 90%;
  padding: 1px 6px;
  font-size: 11px;
}

.app-sidebar-bg-container {
  font-size: 11px;
  line-height: 12px;
  font-weight: normal;
  padding: 0;
  border: 0;
  background-color: #fff;
  margin-left: 10px;
}

.app-sidebar-bg-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.app-sidebar-bg-container ul li {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.app-sidebar-bg-container ul li:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}

.app-sidebar-bg-container ul li button {
  float: right;
  margin-top: -20px;
}

#app-sidebar-item-header .icon-plus {
  margin-top: 2px;
}
#app-sidebar-repeat label {
  margin-top: 0;
  margin-bottom: 0;
  padding: 2px 6px;
}

#app-sidebar-repeat input {
  margin-top: 0;
  margin-bottom: 0;
  width: 90%;
  padding: 1px 6px;
  font-size: 11px;
}

#app-sidebar-repeat .btn-mini {
  margin-top: -12px;
}
